*{
    margin: 0;
    padding: 0;
}

body{
    background: #2C2B3D;
    color: white;
}

.page{
    width:1092px;
    margin: 71px auto 0px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}

nav ul{
    display: flex;
    gap:64px;

    list-style: none;

    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    line-height: 28px;
}

nav ul a{
    color:white;
    text-decoration: none;
    
}

nav ul a:hover{
    color:#00BFA6;
    
    
}

main{
    display: flex;
    justify-content: space-between;
    
    gap: 86px;

    margin: 100px auto 157px;

   

    
}

main h1{
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;

    margin-bottom: 60px;
}

main p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;

    
}

.text{
    text-align: center;
    

}



footer{
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
}

.line{
    border: 1px solid #00BFA6;
    margin-bottom: 46px;
    font-size:14px;
    line-height: 28px;
}

.padlock{
    position: fixed;
    left: 20px;
    bottom: 20px;
}